<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Histórico de Visitas</h4>
        <small>Visitante: {{obj.nome}}</small>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>Data Entrada</td>
                        <td>Data Saída</td>
                        <td>Horário</td>
                        <td>Dias do Período</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="obj in visitas">
                        <td>{{obj.datainicio | data}}</td>
                        <td>{{obj.datasaida | data}}</td>
                        <td>{{obj.horario}}</td>
                        <td>{{obj.diasperiodo | diasPeriodo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Fechar</button>
    </div>
</div>