<div class="container">
    <div ng-include="'app/views/common/header.html'"></div>
    <section style="padding:10px;">
        <form name="cadForm">
            <section>
                <h4>Visitante</h4>
                <hr>
                <div class="form-group">
                    <label for="cpf">CPF/CNPJ:</label>
                    <input type="text" class="form-control" id="cpfcnpj" name="cpfcnpj" validarcpf ng-blur="verificaUsuario(obj)" ng-model="obj.cpfcnpj" ng-required="true">
                </div>
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome" ng-model="obj.nome" ng-required="true">
                </div>
            </section>
            <section>
                <h4>Agenda</h4>
                <hr>
                <div class="form-group">
                    <label for="nome">Data:</label>
                    <input type="date" class="form-control" id="data" name="data" ng-model="obj.data" ng-required="true">
                </div>
                <div class="form-group">
                    <label for="nome">Horário:</label>
                    <input type="time" class="form-control" id="horario" name="horario" ng-model="obj.horario" ng-required="true">
                </div>
            </section>
            <div class="btn-group pull-right">
                <button type="submit" class="btn btn-danger" ng-click="logout()">Sair</button>
                <button type="submit" class="btn btn-default" ng-disabled="cadForm.$invalid" ng-click="cadastrar(obj)">Salvar</button>
            </div>
        </form>
    </section>
</div>