<div class="">
    <div ng-include="'app/views/common/header.html'"></div>
    <section style="padding:10px;" ng-if="!novo">
        <div style="padding:0 0 5px 0;">
            <button class="btn btn-success" ng-click="cadNovo()"><i class="fa fa-plus"></i> <b>Novo</b></button>
        </div>

        <h4 ng-init="collapse_1=true" ng-click="collapse_1=!collapse_1">Visitas para Hoje<a class="arrows"><i class="fa" ng-class="{'fa-angle-up': collapse_1, 'fa-angle-down': !collapse_1}"></i></a></h4>
        <hr>
        <div style="padding-bottom:10px; width: 100%; position: relative;" ng-if="collapse_1">
            <button class="btn btn-default" ng-click="visualizarTodasVisitas()">
                <i class="fa fa-eye"></i> 
                {{ todasVisitas ? 'Visualizar Hoje' : 'Visualizar Tudo'}}
            </button>
        </div>
        <div class="table-responsive" ng-if="collapse_1">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td align="left">Data Início</td>
                        <td align="left">Data Fim</td>
                        <td align="left">Horário</td>
                        <td>Dias do Período</td>
                        <td align="left">Visitante</td>
                        <td align="left">Documento</td>
                        <td align="left">Tipo</td>
                        <td align="left">Ações</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="obj in visitas">
                        <td align="left">{{obj.datainicio | data}}</td>
                        <td align="left">{{obj.datafim | data}}</td>
                        <td align="left">{{obj.horario}}</td>
                        <td>{{obj.diasperiodo | diasPeriodo }}</td>
                        <td align="left">{{obj.visitante}}</td>
                        <td align="left">{{obj.visitantedocumento}}</td>
                        <td align="left">{{obj.tipovisita}}</td>
                        <td>
                            <!-- <button type="button" class="btn btn-warning" ng-click="reagendar(obj)"><i class="fa fa-calendar"></i></button> -->
                            <button type="button" class="btn btn-danger" ng-click="desativarVisita(obj)"><i class="fa fa-ban"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4 ng-init="collapse_2=true" ng-click="collapse_2=!collapse_2">Visitantes <a class="arrows"><i class="fa" ng-class="{'fa-angle-up': collapse_2, 'fa-angle-down': !collapse_2}"></i></a></h4>
        <hr>
        <div class="table-responsive" ng-if="collapse_2">
                <input class="form-control" type="text" ng-model="filtroVisitante" placeholder="Filtrar visitante por Nome ou Documento">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td align="left">Nome</td>
                        <td align="left">Documento</td>
                        <!-- <td align="left">Última Visita</td> -->
                        <td align="left">Ações</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="obj in visitantes | filter: filtroVisitante">
                        <td align="left">{{obj.nome}}</td>
                        <td align="left">{{obj.documento}}</td>
                        <!-- <td align="right">{{obj.ultimavisita | datahora}}</td> -->
                        <td>
                            <button class="btn btn-warning" ng-click="novoAgendamento(obj)"><i class="fa fa-calendar"></i></button>
                            <button class="btn btn-default" ng-click="historico(obj)"><i class="glyphicon glyphicon-book"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section style="padding:10px; margin-bottom: 60px;" ng-if="novo">
        <form name="cadForm">
            <section>
                <h4>Visitante</h4>
                <hr>
                <div class="form-group">
                    <label for="nome">Nome <span style="color:red;">*</span></label>
                    <input type="text" class="form-control" id="nome" name="nome" ng-model="obj.nome" placeholder="Informe o nome do Visitante" ng-required="true" ng-disabled="edicao" ng-blur="verificaVisitante(obj)">
                </div>
                <div class="form-group">
                    <label for="cpf">Documento</label>
                    <input type="text" class="form-control" id="documento" name="documento" ng-model="obj.documento" placeholder="Informe o documento do Visitante" ng-required="true" ng-disabled="edicao">
                </div>
            </section>
            <section>
                <h4>Agenda</h4>
                <hr>
                <div class="form-group">
                    <label for="nome">Tipo de Visita <span style="color:red;">*</span></label>
                    <select class="form-control" name="tipovisita" id="tipovisita" ng-model="obj.idtipovisita" ng-options="obj.id as obj.descricao for obj in tiposvisita"></select>
                </div>
                <div class="form-group">
                    <label for="nome">Data Entrada <span style="color:red;">*</span></label>
                    <input type="date" class="form-control" id="datainicio" name="datainicio" ng-model="obj.datainicio" ng-required="true">
                </div>
                <div class="form-group" ng-if="comPeriodo">
                    <label for="nome">Data Saída <span style="color:red;">*</span></label>
                    <input type="date" class="form-control" id="datainicio" name="datafim" ng-model="obj.datafim"
                        ng-required="true">
                </div>
                <div class="form-group">
                    <label for="nome">Horário Entrada <span style="color:red;">*</span></label>
                    <input type="time" class="form-control" id="horario" name="horario" ng-model="obj.horario" ng-required="true">
                </div>
                <div claas="form-group" ng-if="comPeriodo">
                    <label for="">Dias do Período <span style="color:red;">*</span></label><br>
                    <button type="button" class="btn btn-default btn-lg" ng-click="setaPeriodo('todo')" ng-class="{'active btn-warning': obj.periodo.todo}"><i class="fa" ng-class="{'fa-check': obj.periodo.todo, 'fa-close': !obj.periodo.todo}"></i> Todos</button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="setaPeriodo('segunda')" ng-class="{'active btn-warning': obj.periodo.todo || obj.periodo.segunda}"><i class="fa" ng-class="{'fa-check': obj.periodo.todo || obj.periodo.segunda, 'fa-close': !obj.periodo.segunda}"></i> Segunda</button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="setaPeriodo('terca')" ng-class="{'active btn-warning': obj.periodo.todo || obj.periodo.terca}"><i class="fa" ng-class="{'fa-check': obj.periodo.todo || obj.periodo.terca, 'fa-close': !obj.periodo.terca}"></i>Terça</button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="setaPeriodo('quarta')" ng-class="{'active btn-warning': obj.periodo.todo || obj.periodo.quarta}"><i class="fa" ng-class="{'fa-check': obj.periodo.todo || obj.periodo.quarta, 'fa-close': !obj.periodo.quarta}"></i> Quarta</button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="setaPeriodo('quinta')" ng-class="{'active btn-warning': obj.periodo.todo || obj.periodo.quinta}"><i class="fa" ng-class="{'fa-check': obj.periodo.todo || obj.periodo.quinta, 'fa-close': !obj.periodo.quinta}"></i> Quinta</button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="setaPeriodo('sexta')" ng-class="{'active btn-warning': obj.periodo.todo || obj.periodo.sexta}"><i class="fa" ng-class="{'fa-check': obj.periodo.todo || obj.periodo.sexta, 'fa-close': !obj.periodo.sexta}"></i> Sexta</button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="setaPeriodo('sabado')" ng-class="{'active btn-warning': obj.periodo.todo || obj.periodo.sabado}"><i class="fa" ng-class="{'fa-check': obj.periodo.todo || obj.periodo.sabado, 'fa-close': !obj.periodo.sabado}"></i> Sábado</button>
                    <button type="button" class="btn btn-default btn-lg" ng-click="setaPeriodo('domingo')" ng-class="{'active btn-warning': obj.periodo.todo || obj.periodo.domingo}"><i class="fa" ng-class="{'fa-check': obj.periodo.todo || obj.periodo.domingo, 'fa-close': !obj.periodo.domingo}"></i> Domingo</button>
                </div>
                <br>
            </section>
            <div class="btn-group pull-right">
                <!-- <button type="submit" class="btn btn-danger" ng-click="logout()">Sair</button> -->
                <button type="button" class="btn btn-danger" ng-click="cancelaNovo()">Cancelar</button>
                <button type="button" class="btn btn-default" ng-disabled="cadForm.$invalid" ng-click="cadastrar(obj)">Salvar</button>
            </div>
        </form>
    </section>
</div>