<div class="main-dashboard">
    <header>
        <i id="menu" onClick="MyMenu.open()" title="Menu" class="fa fa-bars icon btn pull-left" style="cursor:pointer; font-size:25px;"></i>
        <p>Página Inicial</p>
    </header>
    <div class="content">
        <section>
            <h4 align="center">Novos Agendamentos</h4>
            <div class="group-próximos-agendamentos">
                <div class="proximos-Agendamentos">
                    <div class="box">
                        <div><b>[ 277 ]</b> - 29/11/2018 14:10:00</div>
                        <div><b>Tarefa:</b> Viabilidade Técnica</div>
                        <div><b>Cliente:</b> Akto Tecnologia</div>
                        <div><b>Local:</b> Av. Rio Madeira</div>
                    </div>
                </div>
                <div class="proximos-Agendamentos">
                    <div class="box">
                        <div><b>[ 145 ]</b> - 30/11/2018 10:00:00</div>
                        <div><b>Tarefa:</b> Viabilidade Técnica</div>
                        <div><b>Cliente:</b> Akto Tecnologia</div>
                        <div><b>Local:</b> Av. Rio Madeira</div>
                    </div>
                </div>
                <div class="proximos-Agendamentos">
                    <div class="box">
                        <div><b>[ 277 ]</b> - 29/11/2018 14:10:00</div>
                        <div><b>Tarefa:</b> Viabilidade Técnica</div>
                        <div><b>Cliente:</b> Akto Tecnologia</div>
                        <div><b>Local:</b> Av. Rio Madeira</div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h4 align="center">Próximos Agendamentos</h4>
            <div class="group-próximos-agendamentos">
                <div class="proximos-Agendamentos">
                    <div class="box">
                        <div><b>[ 277 ]</b> - 29/11/2018 14:10:00</div>
                        <div><b>Tarefa:</b> Viabilidade Técnica</div>
                        <div><b>Cliente:</b> Akto Tecnologia</div>
                        <div><b>Local:</b> Av. Rio Madeira</div>
                    </div>
                </div>
                <div class="proximos-Agendamentos">
                    <div class="box">
                        <div><b>[ 145 ]</b> - 30/11/2018 10:00:00</div>
                        <div><b>Tarefa:</b> Viabilidade Técnica</div>
                        <div><b>Cliente:</b> Akto Tecnologia</div>
                        <div><b>Local:</b> Av. Rio Madeira</div>
                    </div>
                </div>
                <div class="proximos-Agendamentos">
                    <div class="box">
                        <div><b>[ 277 ]</b> - 29/11/2018 14:10:00</div>
                        <div><b>Tarefa:</b> Viabilidade Técnica</div>
                        <div><b>Cliente:</b> Akto Tecnologia</div>
                        <div><b>Local:</b> Av. Rio Madeira</div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h4 align="center">Gráficos</h4>
            <div class="feed-icons">
                <!-- <a>
                    <i class="fa fa-wrench"></i>
                    2/20
                </a>
                <a>
                    <i class="fa fa-wrench"></i>
                    5/10
                </a> -->
                <a>
                    <canvas id="myChart" width="400" height="400" style="flex:1;"></canvas>
                </a>
                <a>
                    <canvas id="myChart2" width="400" height="400" style="flex:1;"></canvas>
                </a>
            </div>
        </section>
    </div>
</div>
<div class="notification animated swing">
    <a ng-click="clickNotification()">
        <span>3</span>
        <i class="fa fa-bell"></i>
    </a>
</div>